---
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';

interface Props {
  text: string;
  link: string;
  target?: HTMLAttributes<'a'>['target'];
}

const { text, link, target = '_self' } = Astro.props;
---

<div
  class='ring-1 ring-neutral-600 rounded-lg cursor-pointer group/name hover:-translate-y-1 tracking-wide'
>
  <a href={link} class='flex text-sm py-2 px-2' target={target}>
    {text}&nbsp;
    <Image
      src='/openLink.svg'
      class='inline-block group-hover/name:scale-110'
      width={18}
      height={18}
      alt='open link icon'
    />
  </a>
</div>
