---
import { Image } from 'astro:assets';
import shareButton from './share.svg';
---

<div class='group relative rounded-lg h-12'>
  <div
    class='group-active:invisible blur-sm bg-gradient-to-r from-fuchsia-600 to-cyan-500 group-hover:scale-x-100 absolute inset-0 h-full transition-transform transform scale-x-0 rounded-lg'
  >
  </div>
  <button
    class='bg-neutral-900 relative flex items-center justify-center h-full px-2 rounded-lg outline-none'
    id='share'
  >
    <Image
      src={shareButton}
      alt='share icon'
      width={24}
      height={24}
      class='inline not-prose'
      style={{ margin: 0 }}
    />&nbsp;<span>Copy Link</span>
  </button>
</div>
