<div class='relative group z-[0]'>
  <div
    class='grid grid-cols-1 p-2 place-items-center rounded-t-full backdrop-blur-sm bg-white/30 min-w-full h-fit scale-y-0 group-hover:scale-y-100 origin-bottom overflow-hidden absolute bottom-[100%] duration-500 cursor-pointer'
  >
    <p class='hover:underline'>Content &#8599;</p>
    <p class='hover:underline'>Content &#8599;</p>
    <p class='hover:underline'>Content &#8599;</p>
    <p class='hover:underline'>Content &#8599;</p>
  </div>
  <slot />
</div>
