::selection {
  color: rgb(250, 204, 21);
  background-color: rgb(64 64 64);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

.animate-text {
  animation: gradient 6s ease-in-out infinite;
  background-clip: text !important;
  color: transparent !important;
  background-size: 180% 180% !important;
  background: linear-gradient(
    135deg,
    #fed90f,
    #00e1ff,
    #09f1b8,
    #00b7ff,
    #fed90f,
    #00e1ff,
    #09f1b8,
    #00b7ff
  );
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
