---
import Layout from '../layouts/MainLayout.astro';
const title = 'Not Found 404 Page';
const description = 'The page for catch all route if not handled in routing';
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
>
  <div
    class='h-[80vh] flex flex-col justify-center items-center bg-neutral-900 select-none relative'
  >
    <img src='/open/rock.gif' class='w-44 h-44 rounded-lg' />
    <p class='text-3xl text-center font-extrabold animate-text'>
      <a href='/'>
        How did you end up here?<br />
        Aha! A Developer, I see<br />
        <span class='tracking-wide'> &#9756;Now Start over </span>
      </a>
    </p>
  </div>
  <link href='/globals.css' rel='stylesheet' />
</Layout>
