<div class='container bg-zinc-900 flex justify-center items-center'>
  <p
    class='bg-gradient-to-br from-purple-700 via-pink-500 to-yellow-400 text-7xl font-extrabold tracking-widest bg-clip-text text-transparent drop-shadow'
  >
    &#10077;4&#216;4&#10078;
  </p>
</div>
