---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div
    class='h-[80vh] flex flex-col justify-center items-center bg-neutral-900 select-none relative'
  >
    <img src='/rock.gif' class='w-44 h-44 rounded-lg' />
    <p class='text-3xl text-center font-extrabold animate-text'>
      <a href='/'>
        <!-- 4&#216;4
        <br /> -->How did you end up here?<br />
        Aha! A Developer, I see<br />
        <span class='tracking-wide'> &#9756;Now Start over </span>
      </a>
    </p>
  </div>
  <link href='/scrollbar.css' rel='stylesheet' /></Layout
>
