<div class='bg-slate-800 flex justify-center items-center'></div>
<script>
  // let section = document.querySelector("section") as any;
  // const innerHeight = window.innerHeight;
  // function scrollHandler() {
  //   const rect = section?.getBoundingClientRect() as any;
  //   let perc = rect?.top + rect?.height / 2;
  //   perc = (perc * innerHeight) / 100;
  //   if (rect?.bottom > 0 && rect?.top < innerHeight) {
  //     section.style.translateX = `${perc}px`;
  //   }
  // }
  // const parent = document.querySelector("#p");
  // parent?.addEventListener("scroll", scrollHandler);
</script>
