<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <title>{"Blogs"}</title>
    <link href='/scrollbar.css' rel='stylesheet' />
  </head>
  <body>
    <div class='bg-slate-800 flex justify-center items-center'></div>
  </body>
  <script>
    // let section = document.querySelector("section") as any;
    // const innerHeight = window.innerHeight;
    // function scrollHandler() {
    //   const rect = section?.getBoundingClientRect() as any;
    //   let perc = rect?.top + rect?.height / 2;
    //   perc = (perc * innerHeight) / 100;
    //   if (rect?.bottom > 0 && rect?.top < innerHeight) {
    //     section.style.translateX = `${perc}px`;
    //   }
    // }
    // const parent = document.querySelector("#p");
    // parent?.addEventListener("scroll", scrollHandler);
  </script>
</html>
