---
import FixedHeight from "../components/FixedHeight.astro";
import Layout from "../layouts/Layout.astro";
const paths = ["Blogs", "Projects", "Skills"];
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
  </head>
  <Layout>
    <FixedHeight color='bg-slate-800' />
    <FixedHeight color='bg-neutral-900' />

    <div class='bg-neutral-900'>
      <div class='max-w-2xl p-4 text-3xl text-white tracking-wider mx-auto'>
        This website is still in the making.
        <div class='border-b-[1px] border-slate-300 mb-4'></div>
        Till then visit below links
        <div class='border-b-[1px] border-slate-300 mb-4'></div>
        <nav
          class='flex justify-center items-center gap-4 text-2xl text-indigo-700 mt-10'
        >
          {
            paths.map((path) => (
              <li class="list-none relative before:content-[''] before:absolute before:bottom-0 before:w-full before:border-indigo-600 before:border-[1px] before:translate-y-1 before:scale-x-0 hover:before:scale-x-100 before:transform before:duration-500 before:origin-right hover:before:origin-left before:transition-transform cursor-pointer text-4xl">
                <a href={`/${path.toLowerCase()}`} class="after:content-['↗']">
                  {path}
                </a>
              </li>
            ))
          }
        </nav>
      </div>
    </div>

    <FixedHeight color='bg-neutral-900' />
  </Layout>


</html>
