<div
  class='max-h-fit text-neutral-900 sticky top-0 z-50 flex justify-between items-center max-w-3xl p-4 mx-auto'
>
  <a
    href='/'
    class='w-14 h-14 flex items-center justify-center p-4 bg-white rounded-lg'
  >
    <p class='text-3xl font-semibold align-middle'>&#394;.</p>
  </a>
  <nav class='flex justify-end gap-4 text-slate-50 text-lg'>
    <a href='/about'>
      <li
        class='list-none py-2 relative h-fit before:content-[""] before:absolute before:bottom-0 before:w-full before:border-yellow-600 before:border-[1px] before:translate-y-1 before:scale-x-0 hover:before:scale-x-100 before:transform before:duration-500 before:transition-transform'
      >
        About
      </li>
    </a>
    <a href='/blogs'>
      <li
        class='list-none py-2 relative h-fit before:content-[""] before:absolute before:bottom-0 before:w-full before:border-yellow-600 before:border-[1px] before:translate-y-1 before:scale-x-0 hover:before:scale-x-100 before:transform before:duration-500 before:transition-transform'
      >
        Blogs
      </li>
    </a>
  </nav>
</div>
