---
import ShareButton from './_shareButton.astro';
---

<div
  class='relative flex justify-between cursor-default group/head pt-2 font-headline'
>
  <h1>
    <slot />
  </h1>
  <ShareButton />
</div>
