---
interface Props {
  slug: string;
  projectName: string;
  shortSummary: string;
}
const { slug, projectName, shortSummary } = Astro.props;
---

<div class='group/parent flex flex-col'>
  <a
    href={slug}
    class='h-full p-4 group-hover/parent:-translate-y-1 ring-1 ring-zinc-700 hover:ring-zinc-500 flex flex-col justify-between rounded-lg'
  >
    <div class='flex flex-col justify-center gap-4'>
      <h2
        class='text-2xl font-semibold tracking-wide cursor-pointer inline-block relative before:content-[""] before:absolute before:bottom-0 before:w-full before:border-b-[1px] before:translate-y-1 before:scale-x-0 group-hover/parent:before:scale-x-100 before:transform before:duration-500 before:origin-right group-hover/parent:before:origin-left before:transition-transform transition-colors text-yellow-400'
      >
        {projectName}
      </h2>
      <p class='text-white/90 leading-6'>{shortSummary}</p>
    </div>
  </a>
</div>
