---
import { getCollection } from "astro:content";
import BlogCard from "../../components/BlogCard/BlogCard.astro";
import FixedHeight from "../../components/FixedHeight.astro";
import Layout from "../../layouts/Layout.astro";

const blogPosts = await getCollection("blog");
---

<Layout>
  <FixedHeight color='bg-slate-800' />

  <main class='container max-w-3xl mx-auto mt-4 space-y-4'>
    {blogPosts.map((post) => <BlogCard post={post} />)}
  </main>

  <FixedHeight color='bg-slate-800' />
</Layout>
