---
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard/BlogCard.astro';
import FixedHeight from '../../components/FixedHeight.astro';
import Layout from '../../layouts/Layout.astro';

const blogPosts = await getCollection('blog');
---

<Layout>
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div class='max-w-3xl p-4 mx-auto space-y-6'>
      <div class='text-6xl font-extrabold text-white'>BlOGS</div>
      <main class='container space-y-4'>
        {blogPosts.map((post) => <BlogCard post={post} />)}
      </main>
    </div>
  </div>

  <FixedHeight color='bg-neutral-900' />
</Layout>
