---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer.astro';
import LogoHeader from '../components/header/LogoHeader.astro';
---

<head>
  <meta name='viewport' content='width=device-width' />
  <ViewTransitions />
  <link rel='icon' type='image/svg+xml' href='/logo.svg' />
  <style is:global>
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  </style>
</head>
<body class='bg-slate-700'>
  <LogoHeader />
  <slot />
  <Footer />
</body>
