---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/footer.astro';
import LogoHeader from '../components/header/LogoHeader.astro';
---

<head>
  <meta name='viewport' content='width=device-width' />
  <ViewTransitions />
  <link rel='icon' type='image/svg+xml' href='/logo.svg' />
  <link href='/globals.css' rel='stylesheet' />
</head>
<body class='bg-slate-900'>
  <LogoHeader />
  <slot />
  <Footer />
</body>
