---
import LogoHeader from "../components/header/LogoHeader.astro";
---

<head>
  <link rel='icon' type='image/svg+xml' href='/logo.svg' />
</head>
<body class='bg-slate-800'>
  <LogoHeader />
  <slot />
</body>
