---
import Heading from '../components/Heading.astro';
interface Props {
  content: any;
}
const { content: Content } = Astro.props;
---

<div class='bg-neutral-900 p-4 md:p-0 prose-img:pt-4 prose-img:mt-0'>
  <article
    class='md:prose-lg prose-invert prose-a:text-blue-600 prose-h2:text-yellow-400 prose-li:prose-ul:marker:text-yellow-400 prose-li:prose-ol:marker:text-blue-600 prose-code:select-all mx-auto prose'
  >
    <Content components={{ h1: Heading }} />
  </article>
</div>
